// THIS IS GRID LAYOUT
@import "base/var";
.grid {
  position: relative;

  &__editor {
    padding: 24px;
    background-color: $greyscale-09;
    display: none;

    position: fixed;
    top: 72px;
    left: 0;
    bottom: 0;
    z-index: 1001;
    width: 30vw;
    overflow-y: auto;

    .is-open & {
      display: block;
    }
  }

  &.is-open {
    .grid-display {
      margin-left: calc(30vw + 12px);
    }
  }
}

.grid-display {
  background-color: $greyscale-03;
  min-height: 200px;

  &__item {
    background-color: $brand-primary;
  }
}
