// STYLEGUIDE NAMESPACE
$nssg: 'sg-';

@import "styleguide/supports";
@import "base/var";

.#{$nssg}divider {
  margin: 52px 0px;
  height: 1px;
  background: gray;
}

.#{$nssg}grid {
  padding: 12px;
  background: $brand-primary;
  margin: 12px 0;

  &--h100 {
    height: 100px;
  }
}

.#{$nssg}view-row {
  margin: 12px 0px 0px;
}

code {
  background-color: blue;
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.4;
  color: white;
}

code.#{$nssg}code-block {
	background-color: blue;
  display: block;
	color: white;
	font-size: 12px;
	font-family: monospace;
	line-height: 1.7;
	margin: 24px 0;
	padding: 6px;
	border: 1px solid blue;
	box-shadow: 2px 2px 1px rgba(0,0,0,.5);
	text-shadow: 1px 1px 0px gray;
	overflow: auto;
}


// HERO
.#{$nssg}hero {
  display: flex;
  align-items: center;
  height: 200px;
  background: blue;
  margin-top: 72px;
  overflow: hidden;

  &__elem {
    flex: 1;
    text-align: center;
  }
}

.#{$nssg}pixel-parent {
  perspective: 50em;
}
.#{$nssg}pixel {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: lightgray;
  margin: 6px;

  // animation: liftOff 4s infinite ease-in-out;
}

@keyframes liftOff {
  0%, 100% {
    transform: translateZ(0px);
  }
  50% {
    transform: translateZ(200px);
  }
}


// COLOR PALETTE
$coloring: (
  pr: $brand-primary,
  sd: $brand-secondary,
  tr: $brand-tertiary,
  g1: $greyscale-01,
  g2: $greyscale-03,
  g3: $greyscale-05
);

.#{$nssg}color-palette {
  .#{$nssg}color-tile {
    display: inline-block;
    vertical-align: middle;
    width: 31%;
    margin-right: 24px;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      height: 60px;
      margin: 0 0 12px 12px;
      border-radius: 50%;
    }
  }
}
@each $vr, $cr in $coloring {
  .#{$nssg}color-palette {
    .#{$nssg}color-tile--#{$vr} {
      &::before {
        background: $cr;
      }
    }
  }
}
