// STYLEGUIDE NAMESPACE
$nssg: 'sg-';

@import "styleguide/supports";


code {
  background-color: blue;
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.4;
  color: white;
}
