<div class="flex">
  <div class="flex__i--xs-6">
    <div class="spx-img">
      <img [attr.src]="img01" alt="SPX Image from Unsplash">
    </div>
    <div class="spx-img spx-img--sm">
      <img [attr.src]="img01" alt="SPX Image from Unsplash">
    </div>
    <div class="spx-img spx-img--md">
      <img [attr.src]="img01" alt="SPX Image from Unsplash">
    </div>
    <div class="spx-img spx-img--lg">
      <img [attr.src]="img01" alt="SPX Image from Unsplash">
    </div>
<pre class="prettyprint">
  <code code-display>
    <div class="spx-img">
      <img src="" alt="alt text">
    </div>
    <div class="spx-img spx-img--sm">
      <img src="" alt="alt text">
    </div>
    <div class="spx-img spx-img--md">
      <img src="" alt="alt text">
    </div>
    <div class="spx-img spx-img--lg">
      <img src="" alt="alt text">
    </div>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Images</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>Images get constrained to a max and min for width / height. This preserves aspect ratio.</p>
  </div>
</div>
