<div class="flex">
  <div class="flex__i--xs-6">
    <div class="spx-progress">
      <div style="width: 30%;"></div>
    </div>
<pre>
  <code code-display>
    <div class="spx-progress">
      <div style="width: 30%;"></div>
    </div>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Progress Bars</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>Progress bars display a percentage state to the user. This helps keep track for things like loading, waiting for responses, or so users know you are working on something for them.</p>
  </div>
</div>
