<div class="flex">
  <div class="flex__i--xs-6">
    <div class="spx-range-slider">
      <input type="range" value="10" min="0" max="100" step="1">
    </div>
<pre class="prettyprint">
  <code code-display>
    <div class="spx-range-slider">
      <input type="range" value="10" min="0" max="100" step="1">
    </div>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Range Sliders</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>Range sliders offer a simple user interaction for incrementing or decrementing values.</p>
  </div>
</div>
