<div class="flex">
  <div class="flex__i--xs-6">
    <label class="spx-tgl">
      <input class="spx-tgl-input" type="checkbox" name="toggle-switch">
      <div class="spx-tgl-btn"></div>
    </label>
<pre class="prettyprint">
  <code code-display>
    <label class="spx-tgl">
      <input class="spx-tgl-input" type="checkbox">
      <div class="spx-tgl-btn"></div>
    </label>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Toggle Switch</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>Toggle switches are checkboxes that give the appearance of the popular apple toggle switch.</p>
  </div>
</div>
