<div class="flex">
  <div class="flex__i--xs-6">

    <div class="spx-card">
      <div class="spx-card__img" data-title="Hello World" data-desc="Product placement goes here">
        <img src="https://images.unsplash.com/photo-1464658824763-547203e5a4a1?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
      </div>
      <div class="spx-card__content">
        <div class="spx-c-info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eveniet exercitationem, quibusdam cupiditate quam. Minima mollitia iste suscipit, pariatur odit ullam error aliquid dolore! Numquam dolorem, sapiente aperiam ducimus ipsa?
          </p>
        </div>
        <div class="spx-c-action">
          <button class="spx-btn spx-btn--primary spx-btn--sm">Click me</button>
          <button class="spx-btn spx-btn--primary spx-btn--sm">Click me</button>
        </div>
      </div>
    </div>

<pre class="prettyprint">
  <code code-display>
    <div class="spx-card">

    </div>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Card</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>TODO://</p>
  </div>
</div>
