<div class="sg-hero">
  <div class="sg-hero__elem sg-hero__elem--min">
    <ul class="spx-pagination">
      <li class="spx-pagination__btn">prev</li>
      <li class="spx-pagination__btn spx-is-disabled">&hellip;</li>
      <li class="spx-pagination__btn">1</li>
      <li class="spx-pagination__btn">2</li>
      <li class="spx-pagination__btn">3</li>
      <li class="spx-pagination__btn">&hellip;</li>
      <li class="spx-pagination__btn">next</li>
    </ul>
  </div>
</div>

<div class="app-view">
  <div class="flex">
    <div class="flex__i--xs-6">

      <ul class="spx-pagination">
        <li class="spx-pagination__btn">prev</li>
        <li class="spx-pagination__btn spx-is-disabled">&hellip;</li>
        <li class="spx-pagination__btn">1</li>
        <li class="spx-pagination__btn">2</li>
        <li class="spx-pagination__btn">3</li>
        <li class="spx-pagination__btn">&hellip;</li>
        <li class="spx-pagination__btn">next</li>
      </ul>

  <pre class="prettyprint">
    <code code-display>
      <ul class="spx-pagination">
        <li class="spx-pagination__btn">prev</li>
        <li class="spx-pagination__btn spx-is-disabled">&hellip;</li>
        <li class="spx-pagination__btn">1</li>
        <li class="spx-pagination__btn">2</li>
        <li class="spx-pagination__btn">3</li>
        <li class="spx-pagination__btn">&hellip;</li>
        <li class="spx-pagination__btn">next</li>
      </ul>
    </code>
  </pre>
    </div>
    <div class="flex__i--xs-6">
      <h2>Pagination</h2>
      <p>
        <span class="spx-pill spx-pill--pr">Stable</span>
      </p>
      <p>Pagination allows you to present to a user options for jumping from page to page, with options for next or skip ahead.</p>
    </div>
  </div>

</div>
