.#{$ns}flyout {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &--right {
    .#{$ns}flyout {
      &__menu {
        left: auto;
        right: 0px;
      }
    }
  }

  &.is-open {
    .#{$ns}flyout {
      &__menu {
        display: block;
        animation: flyout .3s ease forwards;
      }
    }
  }

  &__menu {
    min-width: 200px;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    z-index: 10;
    transform: translateY(-50%);
    background: white;
    border: 1px solid $grey-l1;
    cursor: pointer;
    @include elevation-3;
    display: none;

    li {
      padding: 6px;

      &:hover {
        background-color: $primary;
        color: white;
      }
    }
  }
}

@keyframes flyout {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
