// SELECT LIST
// SELECTLIST
.#{$ns}selectlist {
  .#{$ns}listing-display {
    cursor: pointer;
    position: relative;
    padding: 12px;
    border: 1px solid $grey-l1;
    border-radius: 2px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    &::before {
      content: attr(data-icon);
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
    }
  }

  &__listing {
    display: none;
    margin-top: -1px;
    border: 1px solid $grey-l1;

    // OPEN STATE
    &.is-open {
      display: block;
      padding: 12px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      cursor: pointer;
      width: 100%;
      padding: 6px;

      &:hover {
        background: $grey-l1;
      }
    }
  }
}
.#{$ns}list-select {
  max-height: 180px;
  overflow-y: auto;
  border-top: 1px solid $grey-l1;
  border-bottom: 1px solid $grey-l1;

  li {
    &.is-selected {
      background-color: $brand-primary;
      color: white;
    }
  }
}
