// TOASTS
.#{$ns}toaster {
  position: fixed;
  top: 72px;
  right: 12px;
  min-width: 240px;
  z-index: 1001;
  display: none;

  &.is-open {
    display: block;
  }
}

.#{$ns}toast {
  position: relative;
  padding: 12px;
  margin-bottom: 12px;
  color: white;
  background: transparentize(black, 0.3);
  cursor: pointer;
  @include elevation-1;
  transition: box-shadow .5s ease;
  animation: toastIn .5s forwards;

  &:hover {
    @include elevation-2;
  }

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: transparentize(black, 0.3);
    @include elevation-1;
    transform: scale(0);
    animation: toastIn .5s forwards .5s;
  }

  &.is-success {
    border: 1px solid $brand-success;

    &::before {
      background: $brand-success;
      border: 1px solid $brand-success;
    }
  }

  &.is-error {
    border: 1px solid $brand-error;

    &::before {
      background: $brand-error;
      border: 1px solid $brand-error;
    }
  }

  & > p {
    font-size: .875rem;
  }
}

@keyframes toastIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
