<div class="sg-hero">
  <div class="sg-hero__elem sg-hero__elem--min">
    <div class="spx-progress">
      <div style="width: 30%;" [ngStyle]="{'width.%': progWidth}"></div>
    </div>
  </div>
</div>

<div class="app-view">
  <div class="flex">
    <div class="flex__i--xs-6">
      <div class="spx-progress">
        <div style="width: 30%;" [ngStyle]="{'width.%': progWidth}"></div>
      </div>
      <div class="spx-progress spx-progress--title" data-title="50">
        <div style="width: 30%;" [ngStyle]="{'width.%': progWidth}"></div>
      </div>
  <pre class="prettyprint">
    <code code-display>
      <div class="spx-progress">
        <div style="width: 30%;"></div>
      </div>
    </code>
  </pre>
    </div>
    <div class="flex__i--xs-6">
      <h2>Progress Bars</h2>
      <p>
        <span class="spx-pill spx-pill--pr">Stable</span>
      </p>
      <p>Progress bars display a percentage state to the user. This helps keep track for things like loading, waiting for responses, or so users know you are working on something for them.</p>
    </div>
  </div>

</div>
