<div class="app-menu-title">
  <h1>Tables</h1>
  <p>Tables are ever so important but yet so tricky when it comes to mobile. So much it deserves it's own route &amp; view.</p>
  <p>Here I will support 2 different types, css only and a JS version which becomes much more useable on mobile devices.</p>
  <br>
</div>

<div class="spx-table" data-title="Spx Table Data">

  <table>

    <thead>
      <tr>
        <th>{{head.title}}</th>
        <th>{{head.first_name}}</th>
        <th>{{head.last_name}}</th>
        <th>{{head.address}}</th>
        <th>{{head.city}}</th>
        <th>{{head.zip_code}}</th>
        <th>{{head.age}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let d of data">
        <td>{{d.title}}</td>
        <td>{{d.first_name}}</td>
        <td>{{d.last_name}}</td>
        <td>{{d.address}}</td>
        <td>{{d.city}}</td>
        <td>{{d.zip_code}}</td>
        <td>{{d.age}}</td>
      </tr>
    </tbody>

  </table>

</div>

<div class="spx-table spx-table--responsive-list" data-title="Spx Table Data">

  <table>

    <thead>
      <tr>
        <th>{{head.title}}</th>
        <th>{{head.first_name}}</th>
        <th>{{head.last_name}}</th>
        <th>{{head.address}}</th>
        <th>{{head.city}}</th>
        <th>{{head.zip_code}}</th>
        <th>{{head.age}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let d of data" (click)="toggleData(d)">
        <td [attr.data-title]="head.title">{{d.title}}</td>
        <td [attr.data-title]="head.first_name">{{d.first_name}}</td>
        <td [attr.data-title]="head.last_name">{{d.last_name}}</td>
        <td [attr.data-title]="head.address">{{d.address}}</td>
        <td [attr.data-title]="head.city">{{d.city}}</td>
        <td [attr.data-title]="head.zip_code">{{d.zip_code}}</td>
        <td [attr.data-title]="head.age">{{d.age}}</td>
      </tr>
    </tbody>

  </table>

  <div class="spx-click-shield" (click)="closeModal()" [class.is-open]="isOpen"></div>
  <div class="spx-table-display" [class.is-open]="isOpen">
    <p [attr.data-title]="head.title">{{d.title}}</p>
    <p [attr.data-title]="head.first_name">{{d.first_name}}</p>
    <p [attr.data-title]="head.last_name">{{d.last_name}}</p>
    <p [attr.data-title]="head.address">{{d.address}}</p>
    <p [attr.data-title]="head.city">{{d.city}}</p>
    <p [attr.data-title]="head.zip_code">{{d.zip_code}}</p>
    <p [attr.data-title]="head.age">{{d.age}}</p>
  </div>

</div>
<br>
<!-- DOCS -->
<div class="flex">
  <div class="flex__i--xs-6">
<pre>
  <code code-display>
    <div class="spx-table" data-title="Spx Table Data">
      <table>
        <thead>
          <tr>
            <th>...</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Tables (Scrollable)</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>Tables scrollable variation, this example is built to scroll on the X axis when it hits responsive.</p>
  </div>
</div>

<br><br>

<div class="flex">
  <div class="flex__i--xs-6">
<pre>
  <code code-display>
    <div class="spx-table spx-table--responsive-list" data-title="Spx Table Data">
      <table>
        <thead>
          <tr>
            <th>...</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="header title">...</td>
          </tr>
        </tbody>
      </table>

      // BELOW IS OPTIONAL
      <div class="spx-click-shield"></div>
      <div class="spx-table-display">
        <p data-title="header title">...</p>
      </div>
      // END OF OPTIONAL
    </div>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Tables (List view)</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>Tables list view variation. The second example uses psuedos and data attributes to create lists, along with that you can optionally add the table display and toggle the data into a modal.</p>
    <p><code>NOTE:</code> Adding the [data-title] to the top element will display that value as a table name.</p>
  </div>
</div>
