<div class="sg-hero">
  <div class="sg-hero__elem sg-hero__elem--min">
    <div class="spx-pill spx-pill--pr">Primary</div>
  </div>
</div>

<div class="app-view">
  <div class="flex">
    <div class="flex__i--xs-6">
      <div class="spx-pill spx-pill--pr">Primary</div>
      <div class="spx-pill spx-pill--sd">Secondary</div>
      <div class="spx-pill spx-pill--tr">Tertiary</div>
      <div class="spx-pill spx-pill--g1">Gray 1</div>
  <pre class="prettyprint">
    <code code-display>
      <div class="spx-pill spx-pill--pr">Primary</div>
      <div class="spx-pill spx-pill--sd">Secondary</div>
      <div class="spx-pill spx-pill--tr">Tertiary</div>
      <div class="spx-pill spx-pill--g1">Gray 1</div>
    </code>
  </pre>
    </div>
    <div class="flex__i--xs-6">
      <h2>Pills</h2>
      <p>
        <span class="spx-pill spx-pill--pr">Stable</span>
      </p>
      <p>Pills are great for displaying state, info you want to focus on, or disclaimers.</p>
    </div>
  </div>

</div>
