///////////////
// FLEXGRID //
///////////////
$container: 1140px; // our max width
$gutter: 24px; // gutters = 1/2 width
$base-columns: default; // columns
$base-columns-default: 12;
$break-xl: 80em; // 1280
$break-lg: 64em; // 1024
$break-md: 48em; // 768
$break-sm: 20em; // 320

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  // fluid container
  &--fluid {
    max-width: 100%;
  }
}

.flx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -($gutter / 2);
  margin-right: -($gutter / 2);

  &--no-gutter {
    margin:0 0;

    [class*="flx__"] {
      padding: 0 0;
    }
  }
}

@mixin flx-additional($bp) {
  .flx {
    &--#{$bp}-flx-nowrap {
      flex-wrap: nowrap;
    }
    &--#{$bp}-flx-wrap-rev {
      flex-wrap: wrap-reverse;
    }
    &--#{$bp}-horizontal-rev {
      flex-direction: column-reverse;
    }
    &--#{$bp}-vertical {
      flex-direction: column;
    }
    &--#{$bp}-vertical-rev {
      flex-direction: row-reverse;
    }
  }
}

@mixin flx-alignment($bp) {
  .flx {
    &--#{$bp}-start {
      justify-content: flex-start;
    }
    &--#{$bp}-center {
      justify-content: center;
    }
    &--#{$bp}-end {
      justify-content: flex-end;
    }
    &--#{$bp}-around {
      justify-content: space-around;
    }
    &--#{$bp}-between {
      justify-content: space-between;
    }
    &--#{$bp}-top {
      align-items: flex-start;
    }
    &--#{$bp}-middle {
      align-items: center;
    }
    &--#{$bp}-bottom {
      align-items: flex-end;
    }
  }
}

// columns base is for setting up the base styling
[class*="flx__i"] {
  flex: 0 0 auto;
  // prevent column from collapsing
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
}

// THE GRID
// default is 12 columns
// if you set multiple values flex is append with those values
// example: flex--12 flex--10
@mixin flx-columns($bp, $columns: $base-columns) {
  @if $columns == default {
    @for $i from 1 through $base-columns-default {
      .flx {
        .i--#{$bp}-#{$i} {
          flex-basis: ((100% / $base-columns-default)*$i);
          max-width: ((100% / $base-columns-default)*$i);
        }
      }
    }
    @for $i from 1 through $base-columns-default {
      .flx {
        .o--#{$bp}-#{$i} {
          margin-left: ((100% / $base-columns-default)*$i);
        }
      }
    }
  } @else {
    @for $i from 1 through length($columns) {
      .flx--#{nth($columns, $i)} {
        @for $j from 1 through nth($columns, $i) {
          .i--#{$bp}-#{$j} {
            flex-basis: ((100% / nth($columns, $i))*$j);
            max-width: ((100% / nth($columns, $i)*$j));
          }
        }
        @for $j from 1 through nth($columns, $i) - 1 {
          .o--#{$bp}-#{$j} {
            margin-left: ((100% / nth($columns, $i))*$j);
          }
        }
      }
    }
  }
}

// main mixin to be called for building the grid
@mixin flx-grid($bp) {
  @include flx-columns($bp);
  @include flx-alignment($bp);
  @include flx-additional($bp);
}

// breakpoint xs
// base styling going mobile up
@include flx-grid(xs);

// breakpoint small
// min-width default is 30em/480px
@media (min-width: $break-sm) {
  @include flx-grid(sm);
}

// breakpoint medium
// min-width default is 48em/768px
@media (min-width: $break-md) {
  @include flx-grid(md);
}

// breakpoint large
// min-width default is 64em/1024px
@media (min-width: $break-lg) {
  @include flx-grid(lg);
}
