// 6PIXELS VARIABLES //
// NAMESPACE //
$ns: 'spx-';

// BASE SIZING //
$font-size-root: 100%; // default is 16px
$font-size-base: $font-size-root;
$line-height-base: 1.1;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Roboto', helvetica, arial, sans-serif;
$font-family-headline: 'Titillium Web', sans-serif;

// BASE GRID //
$container: 1140px; // our max width
$gutter: 24px; // gutters = 1/2 width
$base-columns: default; // columns
$base-columns-default: 12;

// BREAKPOINTS //
//breakpoints based off 16px base size
$break-xl: 80em; // 1280
$break-lg: 64em; // 1024
$break-md: 48em; // 768
$break-sm: 20em; // 320

// BRAND COLORS //
$brand-primary: #0C1C8F;
$brand-secondary: #0543A6;
$brand-tertiary: #05679C;
$brand-info: #04a3ff;
$brand-success: #0CE85A;
$brand-warning: gold;
$brand-error: red;

// BRAND REFERENCE //
$primary: $brand-primary; // main blue
$secondary: $brand-secondary; // main purple
$tertiary: $brand-tertiary;
$info: $brand-info;
$success: $brand-success;
$warning: $brand-warning;
$error: $brand-error;

// GREY //
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$grey-l1: #ccc;
$grey-d1: #333;


// OPACITY COLORING //
$b-01: rgba(0,0,0,0.9);
$b-02: rgba(0,0,0,0.5);

// LIGATURES -- ICONS //
$liga-font-family: 'Material Icons';

$pr: #00FF12;
$pr-l1: #45E80C;
$pr-l2: #A1FF0D;
$pr-d1: #0CE85A;
$pr-d2: #0DFFA7;
