<div class="sg-hero">
  <div class="sg-hero__elem">
    <button class="spx-btn spx-btn--pr">I am button</button>
  </div>
</div>

<div class="app-view">
  <div class="flex">
    <div class="flex__i--xs-6">
      <div class="sg-view-row">
        <button class="spx-btn spx-btn--pr">I am button</button>
        <button class="spx-btn spx-btn--pr spx-btn--icon" data-icon="check">Icon</button>
      </div>
      <div class="sg-view-row">
        <button class="spx-btn spx-btn--pr spx-btn--material" data-icon="check">Material</button>
        <button class="spx-btn spx-btn--pr spx-btn--circle" data-icon="check"></button>
      </div>
      <div class="sg-view-row">
        <button class="spx-btn spx-btn--sm spx-btn--pr">Small</button>
        <button class="spx-btn spx-btn--pr spx-btn--circle spx-btn--sm" data-icon="check"></button>
        <button class="spx-btn spx-btn--sm spx-btn--pr spx-btn--icon" data-icon="check">Small Icon</button>
        <button class="spx-btn spx-btn--sm spx-btn--pr spx-btn--material" data-icon="check">Small Material</button>
      </div>
      <div class="sg-view-row">
        <button class="spx-btn spx-btn--sm spx-btn--pr--inverted">Small</button>
        <button class="spx-btn spx-btn--pr--inverted spx-btn--circle spx-btn--sm" data-icon="check"></button>
        <button class="spx-btn spx-btn--sm spx-btn--pr--inverted spx-btn--icon" data-icon="check">Small Icon</button>
        <button class="spx-btn spx-btn--sm spx-btn--pr--inverted spx-btn--material" data-icon="check">Small Material</button>
      </div>
  <pre class="prettyprint">
    <code code-display>
      <button class="spx-btn spx-btn--pr">I am button</button>
      <button class="spx-btn spx-btn--pr spx-btn--icon" data-icon="check">Icon</button>
      <button class="spx-btn spx-btn--pr spx-btn--material" data-icon="check">Material</button>
      <button class="spx-btn spx-btn--pr spx-btn--circle" data-icon="check"></button>
      <button class="spx-btn spx-btn--sm spx-btn--pr spx-btn--material" data-icon="check">Small</button>
    </code>
  </pre>
    </div>
    <div class="flex__i--xs-6">
      <h2>Buttons</h2>
      <p>
        <span class="spx-pill spx-pill--pr">Stable</span>
      </p>
      <p>Buttons add easy understanding to your page for elements a user should interact with. Whether it takes them to a new route or location, maybe toggles something on the page a user always knows a button is something of use.</p>
      <app-code-table [data]='description'></app-code-table>
    </div>
  </div>

</div>
