<div class="sg-hero">
  <div class="sg-hero__elem">
    <div class="spx-loading">
      <div class="spx-loading__dots"></div>
      <div class="spx-loading__dots"></div>
      <div class="spx-loading__dots"></div>
    </div>
  </div>
</div>

<div class="app-view">
  <div class="flex">
    <div class="flex__i--xs-6">

      <div class="spx-loading">
        <div class="spx-loading__dots"></div>
        <div class="spx-loading__dots"></div>
        <div class="spx-loading__dots"></div>
      </div>

  <pre class="prettyprint">
    <code code-display>
      <div class="spx-loading">
        <div class="spx-loading__dots"></div>
        <div class="spx-loading__dots"></div>
        <div class="spx-loading__dots"></div>
      </div>
    </code>
  </pre>
    </div>
    <div class="flex__i--xs-6">
      <h2>Loading Dots</h2>
      <p>
        <span class="spx-pill spx-pill--pr">Stable</span>
      </p>
      <p>Loading dots can accomdate up to 6 by default. If more than 6 is needed update the sass var inside the partial. Built on a one second timer.</p>
    </div>
  </div>

</div>
