<div class="app">

  <header class="app-header">

    <div class="app-header__logo">
      6PIXELS
    </div>
    <div class="app-header__links">
      <span (click)="goToRoute('/welcome')">by: Jason Jacobson</span>
    </div>

  </header>

  <div class="app-sidebar" [class.is-open]="appMenuOpen">
    <div (click)="toggleMenu()" class="app-sidebar__open" [class.is-open]="appMenuOpen">
      <i class="material-icons">add</i>
    </div>
    <nav class="app-sidebar__nav">
      <ul class="app-nav">
        <li (click)="goToRoute('/welcome')">Home</li>
        <li (click)="goToRoute('/variable')">Vars</li>
        <li (click)="goToRoute('/elements')">Elements</li>
        <li (click)="goToRoute('/welcome')">Components</li>
        <li (click)="goToRoute('/elements')">Helpers</li>
        <li (click)="goToRoute('/welcome')">Credit</li>
      </ul>
    </nav>
  </div>

  <div class="sg-hero">
    <div class="sg-hero__elem">
      <div class="sg-pixel"></div>
    </div>
  </div>

  <div class="app-menu-nav">
    <div>button</div>
    <div>button</div>
    <div>button</div>
    <div>button</div>
    <div>button</div>
    <div>button</div>
  </div>

  <div class="app-view">
    <router-outlet></router-outlet>
  </div>

</div>
