<!-- <div class="app-menu-nav">
  <div
    *ngFor="let elem of elements"
    data-id="spx-{{ elem.name }}"
  >{{ elem.name }}</div>
</div> -->

<div class="app-menu-title">
  <h1>Components</h1>
</div>

<app-tiles></app-tiles>
<div class="sg-divider"></div>
<app-loading></app-loading>
<div class="sg-divider"></div>
<app-toast></app-toast>
<div class="sg-divider"></div>
<app-pagination></app-pagination>
<div class="sg-divider"></div>
<app-tooltip></app-tooltip>
<div class="sg-divider"></div>
<app-media-obj></app-media-obj>
<div class="sg-divider"></div>
<app-breadcrumb></app-breadcrumb>
<div class="sg-divider"></div>
