<div class="app-menu-title">
  <h1>Components</h1>
</div>

<app-card></app-card>
<div class="sg-divider"></div>
<app-flyout></app-flyout>
<div class="sg-divider"></div>
<app-accordion></app-accordion>
<div class="sg-divider"></div>
<app-loading></app-loading>
<div class="sg-divider"></div>
<app-toast></app-toast>
<div class="sg-divider"></div>
<app-pagination></app-pagination>
<div class="sg-divider"></div>
<app-tooltip></app-tooltip>
<div class="sg-divider"></div>
<app-media-obj></app-media-obj>
<div class="sg-divider"></div>
<app-breadcrumb></app-breadcrumb>
<div class="sg-divider"></div>
