<div class="flex">
  <div class="flex__i--xs-6">
    <div class="spx-media">
      <div class="spx-media__element">
        <img src="https://images.unsplash.com/photo-1472457974886-0ebcd59440cc?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=512&amp;q=80&amp;cs=tinysrgb&amp;crop=" style="width: 200px;" alt="me" />
      </div>
      <div class="spx-media__body">
        Text goes here
      </div>
    </div>
<pre class="prettyprint">
  <code code-display>
    <div class="spx-media">
      <div class="spx-media__element">
        <img src="path/to/source" style="width: 200px;" alt="me" />
      </div>
      <div class="spx-media__body">
        Text goes here
      </div>
    </div>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Media Object</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>The media object, founded by Nicole Sullivan and rewrote to use flexbox.</p>
  </div>
</div>
