<div class="app-view">
  <div class="flex">
    <div class="flex__i--xs-6">
      <label class="spx-radio">
        <input type="radio" name="radio">
        <div class="spx-radio__dot"></div>
        Radio Button 01
      </label>
      <label class="spx-radio">
        <input type="radio" name="radio">
        <div class="spx-radio__dot"></div>
        Radio Button 02
      </label>
  <pre class="prettyprint">
    <code code-display>
      <label class="spx-radio">
        <input type="radio" name="radio">
        <div class="spx-radio__dot"></div>
        Radio Button 01
      </label>
    </code>
  </pre>
    </div>
    <div class="flex__i--xs-6">
      <h2>Radio Buttons</h2>
      <p>
        <span class="spx-pill spx-pill--pr">Stable</span>
      </p>
      <p>Radios buttons allow the user to interact with several options while being allowed to select only one.</p>
    </div>
  </div>

</div>
