<div class="app">

  <header class="app-header">

    <div class="app-header__logo">
      <div class="spx-logo spx-logo--sm">
        <div class="spx-logo__px"></div>
        <div class="spx-logo__px"></div>
        <div class="spx-logo__px"></div>
        <div class="spx-logo__px"></div>
        <div class="spx-logo__px"></div>
      </div>
      SIX-PIXELS
    </div>
    <div class="app-header__links">
      <span [routerLink]="['/welcome']">v1:ALPHA</span>
    </div>

  </header>

  <!-- These are from my test module -->
  <angular-module-starter></angular-module-starter>
  <jason-rocks></jason-rocks>

  <div class="spx-click-shield" [class.is-open]="appMenuOpen" (click)="toggleMenu()"></div>
  <div class="app-sidebar" [class.is-open]="appMenuOpen">
    <div (click)="toggleMenu()" class="app-sidebar__open" [class.is-open]="appMenuOpen">
      <i class="material-icons">add</i>
    </div>
    <nav class="app-sidebar__nav">
      <ul class="app-nav">
        <li class="app-nav__nav">Navigation</li>
        <li [routerLink]="['/welcome']" [routerLinkActive]="['is-active']">Home</li>
        <li [routerLink]="['/variable']" [routerLinkActive]="['is-active']">Vars / Base</li>
        <li [routerLink]="['/grid']" [routerLinkActive]="['is-active']">Grid</li>
        <li
          *ngFor="let nav of routes"
          (click)="toggleNav(nav.name)"
          class="has-menu"
          [class.is-active]="activeNav === nav.name"
        >
          {{nav.name}}
          <div
            class="app-nav-inner"
            *ngIf="nav.routes && nav.routes.length > 0"
          >
            <ul>
              <li
                *ngFor="let sub of nav.routes"
                [routerLink]="sub.path"
                [routerLinkActive]="['is-active']"
              >
                {{sub.name}}
              </li>
            </ul>
          </div>
        </li>
        <li [routerLink]="['/helpers']" [routerLinkActive]="['is-active']">Helpers</li>
        <li [routerLink]="['/ng2']" [routerLinkActive]="['is-active']">NG2</li>
      </ul>
    </nav>
  </div>

  <!-- <div class="sg-hero">
    <div class="sg-hero__elem">
      <div class="spx-logo">
        <div class="spx-logo__px"></div>
        <div class="spx-logo__px"></div>
        <div class="spx-logo__px"></div>
        <div class="spx-logo__px"></div>
        <div class="spx-logo__px"></div>
      </div>
    </div>
  </div> -->

  <router-outlet></router-outlet>

  <footer class="app-footer">
    <p>SIX PIXELS 2017</p>
    <p>Created and maintained by Jason Jacobson</p>
  </footer>

</div>
<!-- alert tag for service -->
<alert></alert>
