<div class="flex">
  <div class="flex__i--xs-6">
    <button class="spx-btn spx-btn--primary">I am button</button>
    <button class="spx-btn spx-btn--primary spx-btn--material" data-icon="check">Material</button>
<pre>
  <code code-display>
    <button class="spx-btn spx-btn--primary">I am button</button>
    <button class="spx-btn spx-btn--primary spx-btn--material" data-icon="check">Material</button>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Buttons</h2>
    <p>Buttons add easy understanding to your page for elements a user should interact with. Whether it takes them to a new route or location, maybe toggles something on the page a user always knows a button is something of use.</p>
  </div>
</div>
