<div class="flex">
  <div class="flex__i--xs-6">
    <label class="spx-checkbox">
      <input type="checkbox" name="checkbox">
      <div class="spx-checkbox__box" data-icon="check"></div>
      Checkbox
    </label>
<pre>
  <code code-display>
    <label class="spx-radio">
      <input type="radio" name="radio">
      <div class="spx-radio__dot"></div>
      Radio Button 01
    </label>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Checkboxes</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>Checkboxes... nuff said.</p>
  </div>
</div>
