<div class="app-menu-nav">
  <div
    *ngFor="let elem of elements"
    data-id="spx-{{ elem.name }}"
  >{{ elem.name }}</div>
</div>

<div class="app-menu-title">
  <h1>Elements</h1>
</div>


<app-button></app-button>
<div class="sg-divider"></div>
<app-forms></app-forms>
<div class="sg-divider"></div>
<app-select></app-select>
<div class="sg-divider"></div>
<app-progress-bar></app-progress-bar>
<div class="sg-divider"></div>
<app-range-slider></app-range-slider>
<div class="sg-divider"></div>
<app-radio></app-radio>
<div class="sg-divider"></div>
<app-checkbox></app-checkbox>
<div class="sg-divider"></div>
<app-toggle></app-toggle>
<div class="sg-divider"></div>
<app-image></app-image>
<div class="sg-divider"></div>
<app-video></app-video>
<div class="sg-divider"></div>
<app-pills></app-pills>
