<div class="flex">
  <div class="flex__i--xs-6">

    <div class="spx-tiles">
      <app-tile *ngFor="let d of theTiles" [tileData]="d"></app-tile>
    </div>
    <div class="spx-tiles">
      <app-tile [tileData]="theTiles[0]" class="app-tile--fave"></app-tile>
    </div>

<pre>
  <code code-display>
    <div class="spx-tiles">
      &lt;app-tile [tileData]="object">&lt;/app-tile>
      &lt;app-tile class="app-tile--fave" [tileData]="object">&lt;/app-tile>
    </div>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Tiles</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>Tiles offer a functional item for users to interact with. Can link to a route, pass link actions, and toggle a favorite status. Favorites emit and event which the data is passed back.</p>
    <app-code-table [data]='description'></app-code-table>
  </div>
</div>
