// this is old school
// credit: Nicole Sullivan

// ███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██████╗      ██╗
// ████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██╔══██╗     ██║
// ██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██████╔╝     ██║
// ██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║   ██║██╔══██╗██   ██║
// ██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝██████╔╝╚█████╔╝
// ╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚═════╝ ╚═════╝  ╚════╝
.media-obj {
	margin: 10px;

	.image {
		float: left;
	}
	.image img {
		display: block;
	}
	// reverse the flow
	.imageRev {
		float: right;
		margin-left: 10px;
	}
}
.media-obj, .bd {
	// another way to clear floats
	overflow: hidden;
}

// ███████╗██╗     ███████╗██╗  ██╗     ██████╗ ██████╗      ██╗
// ██╔════╝██║     ██╔════╝╚██╗██╔╝    ██╔═══██╗██╔══██╗     ██║
// █████╗  ██║     █████╗   ╚███╔╝     ██║   ██║██████╔╝     ██║
// ██╔══╝  ██║     ██╔══╝   ██╔██╗     ██║   ██║██╔══██╗██   ██║
// ██║     ███████╗███████╗██╔╝ ██╗    ╚██████╔╝██████╔╝╚█████╔╝
// ╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝     ╚═════╝ ╚═════╝  ╚════╝
// this is new school now
// using flexbox to solve our issues
.media {
	display: flex;
	align-items: flex-start;

	&__element {
		margin-right: 1em;
	}

	&__body {
		flex: 1;
	}

	&--rev {
		text-align: right;

		.media__element {
			margin-right: 0em;
			margin-left: 1em;
			order: 2;
		}
		.media__body {
			order: 1;
		}
	}

	&--middle {
		align-items: center;
	}
}
// .media__figure {
// 	margin-right: 1em;
// }
// .media__body {
// 	flex: 1;
// }
// .media-figure--rev {
// 	order: 2;
// }
// .media-body--rev {
// 	order: 1;
// }
