<div class="sg-hero">
  <div class="sg-hero__elem sg-hero__elem--min">
    <span class="spx-adv-tip spx-adv-tip--right">
      Hover over me
      <div class="spx-adv-tip__content">
        Look at me being all tooltip. I can even put markup inside <a href="http://google.com">google saves lives.</a>
      </div>
    </span>
  </div>
</div>

<div class="app-view">
  <div class="flex">
    <div class="flex__i--xs-6">
      <span class="spx-adv-tip">
        Hover over me
        <div class="spx-adv-tip__content">
          Look at me being all tooltip. I can even put markup inside <a href="http://google.com">google saves lives.</a>
        </div>
      </span>
  <pre class="prettyprint">
    <code code-display>
      <span class="spx-adv-tip">
        Hover over me
        <div class="spx-adv-tip__content">
          Look at me being all tooltip. I can even put markup inside <a href="http://google.com">google saves lives.</a>
        </div>
      </span>
    </code>
  </pre>
    </div>
    <div class="flex__i--xs-6">
      <h2>Tooltips(css only)</h2>
      <p>
        <span class="spx-pill spx-pill--pr">Stable</span>
      </p>
      <p>SPX tooltips come as css only, no JS needed. Apply the code to any element to reveal a tooltip on hover.</p>
    </div>
  </div>

</div>
