<div class="sg-countdown">
  <div>
    <p>{{ timeRemaining.days }}</p>
    <p>days</p>
  </div>
  <div>
    <p>{{ timeRemaining.hours }}</p>
    <p>hours</p>
  </div>
  <div>
    <p>{{ timeRemaining.minutes }}</p>
    <p>minutes</p>
  </div>
  <div>
    <p>{{ timeRemaining.seconds }}</p>
    <p>seconds</p>
  </div>
</div>
<div>
  <h2>Current filesize minified: 28kb</h2>
</div>
<div class="sg-divider"></div>
<div>
  <h1>Local Development</h1>
  <p>SIX PIXELS is built using Angular 2. Make sure you have gulp installed globally, then run <code>npm install</code>. Once installed running <code>npm start</code> will serve up the dev app on localhost:3000</p>
  <div class="sg-divider"></div>
  <h2>TODO:</h2>
  <p>Current status of 6 pixels: I grabbed all my files from the Indominus Flex project when it was the basis of the framework. This needs a ground up approach for writing. All classes need namespacing. Namespace will be 'spx-'.</p>
  <p>*** Finish objects, review the code for cleanup</p>
  <p>*** Determine/Start components, review the code for cleanup</p>
  <p>*** Geting started page</p>
  <p>Feel free to contribute to the project anytime with a PR.</p>
  <div class="sg-divider"></div>
  <h2>Guidelines</h2>
  <p>6PIXELS is meant to be a next gen CSS UI FRAMEWORK / PATTERN LAB, and can present progressive enhancement. Please use the <code>@supports</code>. Progressive enhancement code should live at the top of your SCSS file.</p>
  <p>Everything should be created with MOBILE FIRST in mind.</p>
  <p>Everything should be in increments of 6 PIXELS. This creates specific patterns and expectations.</p>
  <p>Wih any new elements/components please supply a new route, along with at least one live example and code example.</p>
  <div class="sg-divider"></div>
  <h2>Code Markers</h2>
  <p>
    Here are markers to use with the code at the top of the elements docs.
  </p>
  <p><span class="spx-pill spx-pill--pr">Stable</span><span class="spx-pill spx-pill--sd">Working</span><span class="spx-pill spx-pill--g3">Progressive</span></p>
  <div class="sg-divider"></div>
  <h2>Code Snippets</h2>
  <p>Code snippets use a <code>code</code> tag and apply the directive to it <code>[code-display]</code>.</p>
  <div>
<pre>
  <code code-display>
    <div>
      <h1></h1>
      <h2></h2>
      <p></p>
    </div>
  </code>
</pre>
  </div>
  <div class="sg-divider"></div>
  <h2>Credit</h2>
  <p>If you submit a PR make sure you add your name to the credits page. Name and github links are preferred.</p>
  <div class="sg-divider"></div>
  <h2>Resources</h2>
  <p>I love resources and documentation, so here is some I use.</p>
  <p><a href="http://caniuse.com">Can I Use</a></p>
  <p><a href="https://css-tricks.com">CSS TRICKS</a></p>
  <p><a href="https://material.io/icons/">Material Icons by Google</a></p>

  <div class="sg-i-support">
    <div class="sg-supports">This feature uses the CSS rule <code>@supports</code>. If you are viewing in IE or EDGE you will not see any progressive enhancement as it is not supported. <br>If you see the rule below it is supported by your browser.</div>

    <div class="sg-rule-all-initial"><code>all: initial;</code></div>
    <div class="sg-rule-display-grid"><code>display: grid;</code></div>
    <div class="sg-rule-filter"><code>filter: "all rules";</code></div>

  </div>
</div>
