<div class="spx-img-carousel" data-id="product-carousel">
  <div class="spx-img-carousel__view">
    <div aria-live="polite" class="spx-img" data-id="product-image">
      <img src="{{currentImg}}" alt="Product Image">
    </div>
  </div>
  <div (click)="openZoomModal()" class="spx-img-carousel__zoom">
    <div class="spx-zoom-img" data-icon="add"></div>
    <p class="spx-zoom-text">view larger</p>
  </div>
  <div class="spx-img-carousel__picker">
    <button
      (click)="previousImage()"
      *ngIf="length > 3"
      class="spx-btn spx-btn--circle spx-btn--pr"
      data-icon="navigate_before"
      aria-label="previous"
      data-id="previous"
      [class.spx-is-disabled]="prevIsDisabled"
      [disabled]="prevIsDisabled"
    ></button>
    <div class="spx-picker-wrap">
      <div [ngStyle]="{'margin-left': '-' + offset + 'px'}" class="spx-picker" data-id="picker">
        <div
          (click)="selectImage(i)"
          *ngFor="let img of altImgs; let i = index"
          [class.is-selected]="i === currentSlide"
          class="spx-picker__images"
          data-id="picker-images"
        >
          <div class="spx-img">
            <img src="{{img.image}}" alt="{{'altImg' + i}}">
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="nextImage()"
      *ngIf="length > 3"
      class="spx-btn spx-btn--circle spx-btn--pr"
      data-icon="navigate_next"
      aria-label="next"
      data-id="next"
      [class.spx-is-disabled]="nextIsDisabled"
      [disabled]="nextIsDisabled"
    ></button>
  </div>
</div>
<div
  (click)="closeModal()"
  [class.is-open]="isOpen"
  class="spx-click-shield"
  aria-live="polite"
  [attr.aria-hidden]="!isOpen"
  ></div>
<div [class.is-open]="isOpen" [attr.aria-hidden]="!isOpen" class="spx-modal-img">
  <div class="spx-modal-img__close">
    <button
      aria-label="close image modal"
      (click)="closeModal()"
      class="spx-btn spx-btn--circle spx-btn--pr spx-btn--sd"
      data-icon="close"
    ></button>
  </div>
  <div aria-live="polite" class="spx-img">
    <img src="{{currentImg}}" alt="Product Image 01">
  </div>
</div>
