<div class="flex">
  <div class="flex__i--xs-6">
    <app-carousel [images]="Images"></app-carousel>
<pre class="prettyprint">
  <code code-display>
    &lt;app-carousel [images]="[]">&lt;/app-carousel>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Image Carousel(NG2)</h2>
    <p>
      <span class="spx-pill spx-pill--g3">Angular 2</span>
      <span class="spx-pill spx-pill--sd">Working</span>
    </p>
    <p>The image carousel has been around since the dawn of modern web, and is not going anywhere. So lets make it work with NG2.</p>
    <p><code>NOTE:</code> The [images] input must contain 2 object properties which are arrays, containing an object with a [image] property to pass.</p>
    <app-code-table [data]='description'></app-code-table>
  </div>
</div>
