<div class="sg-hero">
  <div class="sg-hero__elem">
    <label class="spx-checkbox">
      <input type="checkbox" name="checkbox">
      <div class="spx-checkbox__box" data-icon="check"></div>
      <div class="spx-checkbox__material"></div>
      Checkbox
    </label>
  </div>
</div>

<div class="app-view">
  <div class="flex">
    <div class="flex__i--xs-6">
      <label class="spx-checkbox">
        <input type="checkbox" name="checkbox">
        <div class="spx-checkbox__box" data-icon="check"></div>
        <div class="spx-checkbox__material"></div>
        Checkbox
      </label>
  <pre class="prettyprint">
    <code code-display>
      <label class="spx-checkbox">
        <input type="checkbox" name="checkbox">
        <div class="spx-checkbox__box" data-icon="check"></div>
        <div class="spx-checkbox__material"></div>
        Checkbox
      </label>
    </code>
  </pre>
    </div>
    <div class="flex__i--xs-6">
      <h2>Checkboxes</h2>
      <p>
        <span class="spx-pill spx-pill--pr">Stable</span>
      </p>
      <p>Checkboxes... nuff said.</p>
    </div>
  </div>
</div>
