<div class="sg-hero">
  <div class="sg-hero__elem">
    <form class="spx-form">
      <div class="flex">
        <div class="flex__i--xs-6">
          <label class="spx-label">Input Label</label>
          <input class="spx-input" type="number" placeholder="Placeholder Text" pattern="^\d+(?:\.\d{1,2})?$">
        </div>
        <div class="flex__i--xs-6">
          <label class="spx-label">Input Label</label>
          <input class="spx-input" type="text" value="Input Value">
        </div>
        <div class="flex__i--xs-12">
          <label class="spx-label">Search Label</label>
          <div class="spx-search">
            <input class="spx-input" type="search" placeholder="Search Me">
            <button class="spx-btn spx-btn--pr spx-btn--circle" data-icon="search"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="app-view">
  <div class="flex">
    <div class="flex__i--xs-6">
      <form class="spx-form">
        <div class="flex">
          <div class="flex__i--xs-6">
            <label class="spx-label">Input Label</label>
            <input class="spx-input" type="text" placeholder="Placeholder Text">
          </div>
          <div class="flex__i--xs-6">
            <label class="spx-label">Input Label</label>
            <input class="spx-input" type="text" value="Input Value">
          </div>
          <div class="flex__i--xs-12">
            <label class="spx-label">Textarea Label</label>
            <textarea class="spx-textarea" cols="30" rows="10"></textarea>
          </div>
          <div class="flex__i--xs-4">
            <label class="spx-label">Input Label</label>
            <input class="spx-input" type="text" value="Input Value">
          </div>
          <div class="flex__i--xs-4">
            <label class="spx-label">Input Label</label>
            <input class="spx-input has-error" type="text" value="Input Value">
          </div>
          <div class="flex__i--xs-4">
            <label class="spx-label">Input Label</label>
            <input class="spx-input" type="text" value="Input Value">
          </div>
          <div class="flex__i--xs-3">
            <label class="spx-label">Input Label</label>
            <input class="spx-input" type="text" value="Input Value">
          </div>
          <div class="flex__i--xs-9">
            <label class="spx-label">Input Label</label>
            <input class="spx-input" type="text" value="Input Value">
          </div>
          <div class="flex__i--xs-12">
            <label class="spx-label">Search Label</label>
            <div class="spx-search">
              <input class="spx-input" type="search" placeholder="Search Me">
              <button class="spx-btn spx-btn--pr spx-btn--circle" data-icon="search"></button>
            </div>
          </div>
        </div>
      </form>
  <pre class="prettyprint">
    <code code-display>
      <form class="spx-form">
        <div class="flex">
          <div class="flex__i--xs-12">
            <label class="spx-label">Input Label</label>
            <input class="spx-input" type="text" value="Input Value">
          </div>
          <div class="flex__i--xs-12">
            <label class="spx-label">Textarea Label</label>
            <textarea class="spx-textarea" cols="30" rows="10"></textarea>
          </div>
          <div class="flex__i--xs-12">
            <label class="spx-label">Search Label</label>
            <div class="spx-search">
              <input class="spx-input" type="search" value="search me">
              <button class="spx-btn spx-btn--pr spx-btn--circle" data-icon="search"></button>
            </div>
          </div>
        </div>
      </form>
    </code>
  </pre>
    </div>
    <div class="flex__i--xs-6">
      <h2>Forms</h2>
      <p>
        <span class="spx-pill spx-pill--sd">Working</span>
      </p>
      <p>Forms are built as elements, which work with SPX grid. Using the grid will allow for multiple layouts with forms while keeping the code base minimal.</p>
      <app-code-table [data]='description'></app-code-table>
    </div>
  </div>

</div>
