<div class="app-view">
  <div class="flex">
    <div class="flex__i--xs-6">
      <div class="spx-vid">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zw47_q9wbBE" frameborder="0" allowfullscreen></iframe>
      </div>
  <pre class="prettyprint">
    <code code-display>
      <div class="spx-vid">
        BEST SUPPORT IS YOUTUBE
        <iframe width="560" height="315" src="videoSource" frameborder="0" allowfullscreen></iframe>
      </div>
    </code>
  </pre>
    </div>
    <div class="flex__i--xs-6">
      <h2>Videos</h2>
      <p>
        <span class="spx-pill spx-pill--pr">Stable</span>
      </p>
      <p>This preserves aspect ratio of 16:9 videos.</p>
    </div>
  </div>

</div>
