// MAYBE MOVE THESE TO THE VAR FILE
// UNSURE AS OF 11-22-15
// TODO: DECIDE ON THIS
$brand-specific-typeface: $font-family-base;
$header-height: 72px;

///////////////
// HEADER //
///////////////
.header-bar {
  width: 100%;
  max-width: 100vw;
  padding: 0 24px;
  display: flex;
  align-items: center;
  min-height: $header-height;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 100;

  border-bottom: 1px solid $greyscale-04;

  color: $greyscale-11;
  background-color: $greyscale-08;

  &__brand {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  &__nav {
    flex: 1 0 auto;
  }
}



///////////////////////
// BRAND ELEMENTS //
///////////////////////
.brand-logo {
  width: 48px;
  height: 48px;
  margin-right: 12px;

  &--circle {
    border-radius: 50%;
  }
}
.brand-icon > i {
  font-size: 2rem;
  margin-right: 12px;
  vertical-align: middle;
}
.brand-title {
  font-family: $brand-specific-typeface;
  font-size: 1.25rem;
  line-height: 1;
}

//////////////////
// CLOSE BTN //
//////////////////
.nav-btn-close {
  display: block;
  height: 3px;
  width: 16px;
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $greyscale-11;
    transition: transform .3s;
  }
  &:before {
    transform: translateY(-3px);
  }
  &:after {
    transform: translateY(3px);
  }
}
// ACTIVE STATE
.nav-header__btn.active {
  .nav-btn-close {
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}


/////////////////////
// NAV ELEMENTS //
/////////////////////
.nav-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__btn {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;

    border: 1px solid $greyscale-11;
    background-color: transparent;
    color: $greyscale-11;

    &:hover:not(.nav-header__btn--search),
    &.active {
      border-color: $brand-primary;
      background-color: $brand-primary;
      color: $greyscale-11;

      &:after {
        color: $greyscale-11;
      }
    }

    &:focus {
      outline: 0;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }

    & > i {
      font-size: 1rem;
    }

    // SEARCH BUTTON
    &--search {
      transition: width .2s linear;
    }
  }

  &__divider {
    width: 1px;
    background-color: $greyscale-11;
    height: 36px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}
/////////////////
// DROPDOWN //
/////////////////
.nav-dropdown {
  position: relative;
  font-size: .75rem;
  margin-right: 12px;

  &::after {
    content: attr(data-icon);
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    margin: auto;
    transform: rotate(0deg);
    transition: transform .3s;
  }

  &:not(:last-child) {
    margin-right: 36px;
  }

  // THE DROPDOWN
  &__menu {
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    min-width: 160px;
    border-radius: 6px;
    box-shadow: 1px 1px 18px rgba(0, 0, 0, .4);


    // default closed
    transform: scale(0);
    transform-origin: top right;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .3s, overflow .5s .1s, transform .3s;

    background-color: $greyscale-08;
    color: $greyscale-11;

    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
    	left: calc(100% - 24px);
    	border: solid transparent;
    	height: 0;
    	width: 0;
      border-color: rgba(0, 0, 0, 0);
    	border-bottom-color: $greyscale-08;
    	border-width: 6px;
    }

    a {
      color: $greyscale-11;
    }

    li {
      text-align: left;
      padding: 12px;
      cursor: pointer;

      &:hover {
        background-color: darken($brand-primary, 10);
      }
      &:first-of-type {
        border-radius: 6px 6px 0 0;
      }
      &:last-of-type {
        border-radius: 0 0 6px 6px;
      }

      i {
        font-size: 1rem;
        vertical-align: middle;
        margin-right: 6px;
      }

      .menu-user-img {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
      }
    }
  }
}



///////////////
// STATES //
///////////////
.dropdown-is-open {
  &:focus {
    outline: 0;
  }
  .nav-dropdown__menu {
    max-height: 400px;
    transform: scale(1);
    overflow: visible;
  }

  &::after {
    transform: rotate(180deg);
  }
}
.nav-header__btn--search {
  &.search-is-open {
    width: 180px;
    padding-left: 12px;
    input {
      width: 100%;
      margin-right: 12px;
    }
  }
  input {
    -webkit-appearance: none;
    width: 0px;
    background-color: transparent;
    display: inline-block;
    color: $greyscale-11;
    transition: width .3s linear;

    &:focus, &:active {
      outline: 0;
      border-bottom: 1px solid $greyscale-11;
    }
  }
}




////////////////////////
// HEADER EXTENDED //
////////////////////////
.header-ext {
  background-color: $greyscale-08;
  transition: min-height .3s;
  padding: 48px 0 0;
  color: $greyscale-11;

  h1 {
    margin-bottom: 48px;
    transition: font-size .3s;
  }

  &.not-top {
    min-height: 30px;
    h1 {
      font-size: 2rem;
      transition: font-size .3s;
    }
  }
}


//////////////////////
// FLYOUT BUTTON //
//////////////////////
.header-toggle {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in-out;

  &.is-open {
    max-height: 200px;
  }

  .flyout-btn {
    display: block;
    width: 60px;
    height: 32px;
    margin: 0 auto;
    background-color: $greyscale-08;
    border-radius: 0px 0px 3px 3px;
  }
}
