//////////////////
// HERO DATA //
//////////////////
.hero-data {
  min-height: 125px;
  padding: 24px 0;
  border-top: 1px solid $greyscale-08;
  border-bottom: 1px solid $greyscale-08;
}
.hero-stats {
  &__headline {
    font-size: 5rem;
    font-weight: 100;
    font-family: $font-family-base;
  }
  sup {
    font-size: 2.5rem;
  }
}
