// FORMS
.#{$ns}form {

  input, textarea, label {
    width: 100%;

    &:focus:not(label), &:active:not(label) {
      outline: 0;
      border: 1px solid $brand-primary;
    }
  }

  input, textarea {
    border: 1px solid $greyscale-10;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 12px;
  }

  // LABEL //
  .#{$ns}label {
    display: block;
    font-size: .75rem;
    margin-bottom: 3px;
    color: $greyscale-08;
  }
}
