// FORMS
.#{$ns}form {
  input, textarea, label {
    width: 100%;
    font-size: .75rem;

    &:focus:not(label), &:active:not(label) {
      outline: 0;
      border: 1px solid $brand-primary;
    }
  }

  input, textarea {
    border: 1px solid $greyscale-10;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 12px;
  }

  // LABEL //
  .#{$ns}label {
    display: block;
    font-size: .75rem;
    margin-bottom: 3px;
    color: $greyscale-08;
  }

  // INPUT
  .#{$ns}input,
  .#{$ns}textarea {
    // ERROR STATE
    &.has-error {
      border-color: $error;
      color: $error;
    }
  }

  // search
  .#{$ns}search {
    .#{$ns}input {
      &[type=search] {
        width: 87%;
        margin-right: 6px;
      }
    }
  }
}
