//////////////
// FORMS //
//////////////
.form {
  display: flex;

  // BASE STYLING //
  input, textarea, label {
    &:focus:not(label), &:active:not(label) {
      outline: 0;
      border: 1px solid $brand-primary;
    }
  }

  & > input, & > textarea, & > label {
    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }

  input, textarea {
    border: 1px solid $greyscale-10;
    border-radius: 6px;
    padding: 12px;
  }

  // LABEL //
  .label {
    flex: 0 0 auto;
    font-size: .75rem;
    margin-bottom: 3px;
    color: $greyscale-08;
  }

  // INPUT //
  .input {
    flex: 1;
  }


  // SEARCH //
  .search {
    display: inline-block;
    position: relative;
    width: 100%;

    &__bar {
      width: 100%;
      padding-left: 24px;
    }

    &:before {
      content: 'search';
      font-family: Material Icons;
      position: absolute;
      top: 0;
      left: 6px;
      bottom: 0;
      margin: auto;
      color: $greyscale-08;
    }
  }

  // TEXTAREA //
  .textarea {
    flex: 1;
  }

  // CHECKBOX/RADIO //
  .checkbox, .radio {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 24px;
    font-size: .875rem;
    line-height: 1.2;
    margin-right: 12px;
    color: $greyscale-08;

    // CHECKBOX
    input[type="checkbox"] {
      display: none;

      &:checked + .checkbox__box {
        &:before {
          transform: scale(.7);
        }
        &:after {
          border-color: $brand-primary;
        }
      }
    }
    .checkbox__box {
      &:before, &:after {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        z-index: 0;
        transition: transform .4s, border-color .4s;
      }
      &:before {
        content: attr(data-icon);
        font-size: 1.125rem;
        transform: scale(0);
      }
      &:after {
        border: 2px solid $greyscale-08;
      }
    }

    // RADIO
    input[type="radio"] {
      display: none;

      &:checked + .radio__dot {
        &:after {
          background-color: $brand-primary;
          transform: scale(1);
          transition: transform .3s;
        }
        &:before {
          background-color: $greyscale-10;
          transform: scale(.5);
          z-index: 2;
          transition: transform .3s;
        }
      }
    }
    .radio__dot {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $greyscale-08;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 0;
      margin: auto;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        border-radius: 50%;
        transform: scale(0);
        transition: transform .3s;
      }
    }

    &:hover {
      .radio__dot:before {
        background-color: $greyscale-10;
        transform: scale(.5);
        transition: transform .3s;
      }
    }
  }
}


// FORM GROUPS //
.form-group {
  display: flex;
  margin-bottom: 12px;

  &--inline {
    flex-flow: nowrap row;

    .label {
      margin-right: 12px;
    }

    .input {
      &:not(:last-of-type) {
        margin-right: 12px;
      }
    }
  }

  // ADD ON INPUTS
  &--addon {
    align-items: center;

    .label {
      padding: 12px;
      margin-bottom: 0;
      background-color: $greyscale-10;
      border-radius: 6px 0 0 6px;
      border: 1px solid $greyscale-10;
    }
    .input {
      border-radius: 0 6px 6px 0;
    }
  }
  &--last {
    .label {
      border-radius: 0 6px 6px 0;
    }
    .input {
      border-radius: 6px 0 0 6px;
    }
  }
}




// ████████╗ ██████╗  ██████╗  ██████╗ ██╗     ███████╗
// ╚══██╔══╝██╔═══██╗██╔════╝ ██╔════╝ ██║     ██╔════╝
//    ██║   ██║   ██║██║  ███╗██║  ███╗██║     █████╗
//    ██║   ██║   ██║██║   ██║██║   ██║██║     ██╔══╝
//    ██║   ╚██████╔╝╚██████╔╝╚██████╔╝███████╗███████╗
//    ╚═╝    ╚═════╝  ╚═════╝  ╚═════╝ ╚══════╝╚══════╝

.tgl {
	display: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: rgba(204,62,62,1.0);
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}
