<div class="flex">
  <div class="flex__i--xs-6">

    <div class="spx-bcrumb">
      <button class="spx-trail">1</button>
      <button class="spx-trail">2</button>
      <button class="spx-trail">3</button>
    </div>

<pre>
  <code code-display>
    <div class="spx-bcrumb">
      <button class="spx-trail">1</button>
      <button class="spx-trail">2</button>
      <button class="spx-trail">3</button>
    </div>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Breadcrumbs</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>Breadcrumbs are used to track a current path incase you get lost you will find your way home.</p>
  </div>
</div>
