<div class="flex">
  <div class="flex__i--xs-6">
    <div class="spx-media">
      <div class="spx-media__element">
        <img src="http://images.popmatters.com/misc_art/b/bored-star-wars-vii-650.jpg" style="width: 200px;" alt="me" />
      </div>
      <div class="spx-media__body">
        Text goes here
      </div>
    </div>
<pre>
  <code code-display>
    <div class="spx-media">
      <div class="spx-media__element">
        <img src="http://images.popmatters.com/misc_art/b/bored-star-wars-vii-650.jpg" style="width: 200px;" alt="me" />
      </div>
      <div class="spx-media__body">
        Text goes here
      </div>
    </div>
  </code>
</pre>
  </div>
  <div class="flex__i--xs-6">
    <h2>Media Object</h2>
    <p>
      <span class="spx-pill spx-pill--pr">Stable</span>
    </p>
    <p>The media object, founded by Nicole Sullivan is a common pattern broke down into its structure. Included is the OG version and also a flexbox versions.</p>
  </div>
</div>
