// PILLS
.#{$ns}pill {
  display: inline-block;
  vertical-align: middle;
  min-width: 12px;
  min-height: 12px;
  padding: 3px 12px;
  font-size: .75rem;
  border-radius: 12px;
  background-color: $grey-l1;
  color: white;
  @include elevation-1;
}


// COLORING
$coloring: (
  pr: $brand-primary,
  sd: $brand-secondary,
  tr: $brand-tertiary,
  g1: $grey-d1
);
@each $vr, $cr in $coloring {
  .#{$ns}pill--#{$vr} {
    background-color: $cr;
  }
}
