// RADIO BUTTONS
// CHECKBOX/RADIO //
.#{$ns}radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 24px;
  font-size: .875rem;
  line-height: 1.2;
  margin-right: 12px;
  color: $grey-l1;
  cursor: pointer;

  // RADIO
  input[type="radio"] {
    opacity: 0;
    position: absolute;

    &:focus + .#{$ns}radio__dot {
      &::before {
        background-color: $grey-d1;
        transform: scale(.5);
        z-index: 2;
      }
    }

    &:checked + .#{$ns}radio__dot {
      &::before {
        background-color: $primary;
        transform: scale(.5);
        z-index: 2;
      }
    }
  }
  .#{$ns}radio__dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $grey-l1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    margin: auto;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 1;
      border-radius: 50%;
      transform: scale(0);
      transition: transform .3s;
    }
  }

  &:hover {
    .#{$ns}radio__dot::before {
      background-color: $grey-d1;
      transform: scale(.5);
      transition: transform .3s ease, color .3s ease;
    }
  }
}
