// SELECTBOXES
.#{$ns}select {
  select {
    width: 100%;
    font-size: .75rem;
    background: $white;
    border: 1px solid $grey-l1;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 12px;

    &:focus:not(label), &:active:not(label) {
      outline: 0;
      border: 1px solid $brand-primary;
    }
  }
}
