/////////////
// TABS //
/////////////
.tabs {
  display: flex;
  align-items: flex-start;
  font-weight: 300;
  color: $grey-l1;

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    position: relative;
    text-align: center;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

    &:hover {
      color: $white;

      &:before {
        width: 100%;
        background-color: $brand-primary;
      }
    }

    &:before, &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      transition: width .2s linear;
    }

    &:before {
      width: 0;
      z-index: 1;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $grey-l1;
    }

    &.is-active {
      font-weight: 400;
      color: $white;

      &:after {
        background-color: $brand-primary;
        z-index: 2;
      }
    }
  }
}
