// STYLEGUIDE NAMESPACE
$nssg: 'sg-';

@import "styleguide/supports";
@import "base/var";

.#{$nssg}divider {
  margin: 52px 0px;
  height: 1px;
  background: gray;
}

.#{$nssg}grid {
  padding: 12px;
  background: $brand-primary;
  margin: 12px 0;

  &--h100 {
    height: 100px;
  }
}

.#{$nssg}view-row {
  margin: 12px 0px 0px;
}

code {
  background-color: red;
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.4;
  color: white;
}

code.#{$nssg}code-block {
  background-color: transparent;
  display: block;
	font-size: 12px;
	font-family: monospace;
	line-height: 1.7;
	overflow: auto;
}


// HERO
.#{$nssg}hero {
  display: flex;
  align-items: center;
  height: 60px;
  background: red;
  margin-top: 72px;
  overflow: hidden;

  &__elem {
    flex: 1;
    text-align: center;
  }
}


.#{$nssg}pixel-parent {
  perspective: 50em;
}
.#{$nssg}pixel {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: white;
  margin: 6px;

  // animation: liftOff 4s infinite ease-in-out;
}

.#{$nssg}countdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  & > div {
    flex: 0 0 25%;
    text-align: center;

    p:first-child {
      font-size: 4rem;
      font-weight: 300;
    }
  }
}

@keyframes liftOff {
  0%, 100% {
    transform: translateZ(0px);
  }
  50% {
    transform: translateZ(200px);
  }
}

.#{$nssg}color-presentation {
  display: flex;
  align-items: center;
  flex-flow: wrap row;
  margin: 24px 0;

  .#{$nssg}color-drop {
    flex: 0 0 46px;
    height: 46px;
    margin-right: 12px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);

    &:hover {
      box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    }
  }
}
.#{$nssg}color-information {
  margin-top: 12px;
}

// COLOR PALETTE
$coloring: (
  pr: $brand-primary,
  sd: $brand-secondary,
  tr: $brand-tertiary,
  g1: $greyscale-01,
  g2: $greyscale-03,
  g3: $greyscale-05
);

.#{$nssg}color-palette {
  .#{$nssg}color-tile {
    display: inline-block;
    vertical-align: middle;
    width: 31%;
    margin-right: 24px;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      height: 60px;
      margin: 0 0 12px 12px;
      border-radius: 50%;
    }
  }
}
@each $vr, $cr in $coloring {
  .#{$nssg}color-palette {
    .#{$nssg}color-tile--#{$vr} {
      &::before {
        background: $cr;
      }
    }
  }
}


.stacked {
  padding: 10vh 0;
}
.plane {
  perspective: 1600px;
}
.set-container {
  position: relative;
  width: 80%;
  height: 400px;
  margin: auto;
  background: red;
  transform-style: preserve-3d;
  transform:
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
  ;
  transition: transform .5s ease-in-out;

  &:hover {
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(0deg)
    ;

    .set {
      &--01 {
        transform: translate3d(0, 0, 60px);
      }
    }
    .plane-btn {
      transform: translate3d(0, 0, 120px);
    }
    .plane-form {
      transform: translate3d(0, 0, 80px);
    }
  }
}
.set {
  position: absolute;

  &--01 {
    top: 6px;
    left: 6px;
    width: 200px;
    height: 200px;
    background: transparentize(red, .5);
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0px);
    transition: transform .5s ease-in-out .5s;
  }
}
.plane-btn {
  position: absolute;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  transition: transform .5s ease-in-out .5s;
}
.plane-form {
  position: absolute;
  transform-style: preserve-3d;
  bottom: 0;
  right: 0;
  width: 500px;
  transform: translate3d(0, 0, 1px);
  transition: transform .5s ease-in-out .5s;
}


// ATTRIBUTE PLANES AND STAGES
[plane] {
  perspective: 1600px;
}
[stage='front'] {
  position: relative;
  padding: 24px;
  background: transparent;
  transform-style: preserve-3d;
  transform:
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
  ;
  transition: transform .5s ease-in-out, background .5s ease-in-out;

  &:hover,
  &.front-active {
    background: lightgray;
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(0deg)
    ;
    [lift='20'] {
      transform: translate3d(0, 0, 20px);
    }
    [lift='60'] {
      transform: translate3d(0, 0, 60px);
    }
    .lift-active {
      transform: translate3d(0, 0, 70px);
    }
  }
}
[stage*='front-tilt'] {
  &:hover,
  &.front-active {
    transform: rotateX(-15deg);
  }
}
[lift] {
  transform-style: preserve-3d;
  transition: transform .5s ease-in-out .5s;
  transform: translate3d(0, 0, 1px);
}
