<div class="app-menu-title">
  <h1>Grid</h1>
</div>

<h2>Base</h2>
<p>Grid is 12 columns by default. Can be customized and allow for multiple breakpoints. Applying comma separated integers creates multiple, with the value being the modifier. Example: flex--10</p>

<div class="flex">
  <div class="flex__i--xs-12">
    <div class="sg-grid"></div>
  </div>
  <div class="flex__i--xs-3">
    <div class="sg-grid"></div>
  </div>
  <div class="flex__i--xs-9">
    <div class="sg-grid"></div>
  </div>
  <div class="flex__i--xs-4">
    <div class="sg-grid"></div>
  </div>
  <div class="flex__i--xs-4">
    <div class="sg-grid"></div>
  </div>
  <div class="flex__i--xs-4">
    <div class="sg-grid"></div>
  </div>
</div>

<pre>
  <code code-display>
    <div class="flex">
      <div class="flex__i--xs-12">
      </div>
      <div class="flex__i--xs-3">
      </div>
      <div class="flex__i--xs-9">
      </div>
      <div class="flex__i--xs-4">
      </div>
      <div class="flex__i--xs-4">
      </div>
      <div class="flex__i--xs-4">
      </div>
    </div>
  </code>
</pre>

<h2>Alignment</h2>
<p>Applies to all breakpoints, and options are start, center, end, around, between, top, middle, bottom. These are correlate to the flexbox spec.</p>

<div class="flex flex--xs-middle">
  <div class="flex__i--xs-4">
    <div class="sg-grid sg-grid--h100"></div>
  </div>
  <div class="flex__i--xs-4">
    <div class="sg-grid"></div>
  </div>
  <div class="flex__i--xs-4">
    <div class="sg-grid"></div>
  </div>
</div>

<pre>
  <code code-display>
    <div class="flex flex--xs-middle">
    </div>
  </code>
</pre>
